@import './colors.css';

.createCommentContainer{
  width: 90%;
}

.commentForm button {
  width: 5rem;
  height: 2rem;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--turquoise);
  font-weight: 600;
  transition: background-color .3s ease;
}

.commentForm button:hover {
  background-color: var(--teal2);
}

.editorContainer {
  margin: 1rem 0 2rem 0;
  width: 100%;
}

.commentEditor {
  width: 100%;
  /* strange behaviour with editor width... */
  /* max-width: calc(100% - 12rem); */
  height: 100px;
  margin-bottom: 1rem;
  background-color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
