@import './colors.css';

.createCommentContainer{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 90%;
  color: var(--teal1);
  /* background-color: red; */
}

.commentForm button {
  width: 5rem;
  height: 2rem;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
  color: var(--teal1);
  background-color: #fff;
  border: 2px solid var(--teal1);
  font-weight: 600;
  transition: background-color .3s ease;
}

.commentForm button:hover {
  color: #fff;
  background-color: var(--teal1);
}

.editorContainer {
  margin: 1rem 0 3.5rem 0;
  width: 100%;
}

.commentEditor {
  width: 100%;
  /* strange behaviour with editor width... */
  /* max-width: calc(100% - 12rem); */
  height: 100px;
  margin-bottom: 1rem;
  background-color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
