@import './colors.css';

.commentsContainer {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
}

.title {
  text-align: center;
  color: var(--neutral2);
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.commentContainer {
  padding: 1rem;
  border: 1px solid var(--turquoise);
  border-radius: .5rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.commentHeader h3 {
  margin: 0;
  color: var(--neutral2);
  font-size: 1.2rem;
}

.commentHeader span {
  font-size: .8em;
  color: var(--neutral3);
}

.commentContent {
  margin-bottom: 1rem;
  font-size: 1em;
  color: var(--neutral2);
}

.commentFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentFoot span {
  color: var(--neutral2);
  font-size: .8em;
}

.like {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.likeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.likeIcon:hover {
  fill: var(--muted-red);
}

.deleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.deleteIcon:hover {
  fill: var(--muted-red);
}

.noComments {
  color: var(--neutral2);
  background-color: white;
  border-radius: .5rem;
  border: 1px solid var(--turquoise);
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 2;
}

@media screen and (max-width: 600px) {

  .title {
    font-size: 1.2rem;
  }

  .commentHeader h3 {
    font-size: 1rem;
  }

  .commentHeader span {
    font-size: .7em;
  }

  .commentContent {
    font-size: .9rem;
  }
}
