@import "./colors.css";

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--turquoise);
  max-width: 400px;
  height: 350px;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.auth-form input {
  margin: 0.5rem 0 1rem 0;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}

.auth-form input:hover,
.auth-form input:focus {
  background-color: var(--light-turquoise);
}

.auth-form button {
  margin-top: 0.5rem;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-form button:hover {
  background-color: var(--dark-teal);
  color: var(--light-turquoise);
}

.register {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}

.register a {
  color: var(--dark-teal);
  font-weight: 600;
}

.register a:hover {
  color: var(--teal1);
  text-decoration: underline;
}

.role-select {
  width: 193px;
  margin-bottom: 0.5rem;
}

.role-select select {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.role-select select:hover {
  cursor: pointer;
}

.role-t {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.role-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2;
  color: #4a4a4a;
  text-align: center;
  height: 25px;
}

.error {
  margin-top: 1.5rem;
  color: red;
}

.guest-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--turquoise);
  max-width: 200px;
  height: 80px;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.guest-login button {
  margin-top: 0.5rem;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.guest-login button:hover {
  background-color: var(--dark-teal);
  color: var(--light-turquoise);
}

.hidden {
  display: none;
}
